<div class="mt-12 bg-white shadow p-8">
  

  <div class="flex flex-row">
    <%= if assigns[:current_user] do %>
      <%= link "/feeds", to: Routes.feed_path(@conn, :index) %>
    <% else %>
      <%= link "login", to: "/login" %>
    <% end %>
  </div>

</div>
