<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Frontman · Podlove Podcast Feed Proxy</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body class="font-sans bg-gray-100">
    <header class="flex justify-between bg-gray-900 text-white items-center px-6 py-2">
      <div class="font-medium text-2xl">
        <span>Frontman</span>
      </div>
      <div class="flex flex-row">
        <%= if assigns[:current_user] do %>
          <div class="mr-6">
            Signed in as <strong><%= @current_user.username %></strong>
          </div>
          <div> 
            <%= link "logout", to: "/logout" %>
          </div>
        <% else %>
          <div> 
            <%= link "login", to: "/login" %>
          </div>
        <% end %>
      </div>
    </header>
    <main class="container mx-auto">
      <%= if get_flash(@conn, :info) do %>
        <p class="bg-yellow-100 border border-yellow-400 text-yellow-700 px-4 py-3 rounded relative mb-8 mt-8" role="alert"><%= get_flash(@conn, :info) %></p>
      <% end %>
      <%= if get_flash(@conn, :error) do %>
        <p class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-8 mt-8" role="alert"><%= get_flash(@conn, :error) %></p>
      <% end %>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
